.FavsTop {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content:space-around;
  color: white;
}

.Card {
  margin: 20px;
}

/* Favorites.css */

/* Container for the entire component */
.FavsTop {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

select {
  max-width: 200px;
  max-height: 40px;
  padding: 8px;
  margin: 8px;
  font-size: 16px;
  border: 1px solid rgba(30, 255, 0, 0.397);
  border-radius: 4px;
  margin-bottom: 20px;
  background-color: rgba(37, 35, 35, 0.24);
  color: white;
}
select option {
  text-align: center;
  background-color: rgb(0, 0, 0);
  color: white;
  border: 1px solid rgba(30, 255, 0, 0.397);
  border-radius: 4px;
}

.Cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}


.NoFavoritesMessage {
  font-size: 24px;
  color: #77ff6b;
  text-align: center;
  padding: 20px;
  background-color: #00000000;
  border-radius: 10px;

  cursor: pointer;
  animation: pulsate 3s infinite;
padding: 2em;
  
}
@keyframes pulsate {
  0% {
    transform: scale(1);
    color: transparent;
  }
  50% {
    transform: scale(1.1);
    color: #f6f6f688;
  }
  100% {
    transform: scale(1);
    color: transparent;
  }
}
.FavsTop span{
  color: #15ff00;
  text-shadow: 0 0 5px rgb(2, 190, 2);
  font-size: 30px;
}





