.Card {
  /* position property and relative value allow absolute positioning within this container */
  position: relative;
  width: 250px;
  height: 350px;
  border-radius: 10px;
  border:solid 0.5px ;
  border-color: rgba(30, 255, 0, 0.397);
  overflow: hidden;
  /* for hover effects */
  display: flexbox;
  flex-direction: column;
  transition: 0.2s ease-in, transform 0.2s ease-in;
}

/*NOTE: make the name of the card have a position at the bottom while not hovered and change to the top on hover (when the infobox becomes visible) */

.Card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  /* pushes the image to the background */
  z-index: -1;
}

.Card button {
  background-color: rgba(0, 0, 0, 0.644);
  color: greenyellow;
  border: solid 1px;
  border-color: greenyellow;
  border-radius: 2em;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 10px;
  /*lower z-index for the close button*/
  z-index: 1;
  /*transition for smooth animation */
  transition: opacity 0.2s ease-in, transform 0.2s ease-in;
}
.Card button:hover {
  color: white;
  border-color: white;
  transform: scale(1.25);
}
.Card .InfoBox h2 {
  font-size: 0.8em;
  color: greenyellow;
}
.Card .Top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* position relative to fix the unwanted layering of button and name */
  position: relative;
}

.Name {
  position: absolute;
  top: 0px;
  left: 15px;
  background-color: rgba(255, 255, 255, 0.747);
  padding: 8px 12px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  color: greenyellow;
  background-color: rgba(0, 0, 0, 0.644);
  /* higher z-index to make the .Name appear above the close button */
  z-index: 0;
  max-width: 60%;
}

.InfoBox {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 15px;
  /* border-radius: 5px; */
  color: #fff;

  /*hidden by default */
  display: block;

  /*transition for smooth animation */
  transition: opacity 0.2s ease-in, transform 0.2s ease-in;

  /*initial values for opacity and scale to create the effect */
  opacity: 0;
  transform: scale(0.8);
}
/* when the container is hovered, display the hidden component */
.Card:hover .InfoBox {
  display: block;
  transform: scale(1);
  opacity: 1;
}
.Card:hover {
  /* goofy shadow */
  /* box-shadow: 0.5em 0 0.3em rgb(43, 255, 0), -0.5em 0 0.3em rgb(1, 255, 255),
    0 0.5em 0.3em rgb(255, 1, 1), 0 -0.5em 0.3em rgb(39, 1, 255); */
  transform: scale(1.09);
  box-shadow: 0px 0px 10px rgb(50, 250, 10);
}

.Status,
.Species,
.Gender,
.Origin {
  margin: 5px 0;
}
